<div class="container">
    <nav class="navbar container__inner">
        <div class="navbar__left">
            <a href="{{@site.url}}" class="navbar__logo">
                
                <img src="{{@site.logo}}" alt="{{@site.title}}" width="30" height="30">
                {{^is "home"}}<p>{{@site.title}}</p>{{/is}}
            </a>
        </div>
        <div class="navigation__right">
            {{navigation}}
            <a class="btn btn--solid" href="#">Sign In</a>
        </div>
    </nav>
</div>