<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link rel="preload" as="font" type="font/woff2" href={{asset "fonts/ibm-plex-sans-v9-latin-300.woff2"}} crossorigin />
     <link rel="preload" as="font" type="font/woff2" href={{asset "fonts/ibm-plex-sans-v9-latin-regular.woff2"}} crossorigin />
     <link rel="preload" as="font" type="font/woff2" href={{asset "fonts/ibm-plex-sans-v9-latin-700.woff2"}} crossorigin />

    <style>
        /* ibm-plex-sans-300 - latin */
        @font-face {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: local('IBM Plex Sans Light'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-300.woff2"}}) format('woff2'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-300.woff"}}) format('woff');
        }
        /* ibm-plex-sans-regular - latin */
        @font-face {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('IBM Plex Sans'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-regular.woff2"}}) format('woff2'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-regular.woff"}}) format('woff');
        }
        /* ibm-plex-sans-italic - latin */
        @font-face {
        font-family: 'IBM Plex Sans';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: local('IBM Plex Sans Italic'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-italic.woff2"}}) format('woff2'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-italic.woff"}}) format('woff');
        }
        /* ibm-plex-sans-700 - latin */
        @font-face {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: local('IBM Plex Sans Bold'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-700.woff2"}}) format('woff2'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-700.woff"}}) format('woff');
        }
        /* ibm-plex-sans-700italic - latin */
        @font-face {
        font-family: 'IBM Plex Sans';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: local('IBM Plex Sans Bold Italic'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-700italic.woff2"}}) format('woff2'),
            url({{asset "fonts/ibm-plex-sans-v9-latin-700italic.woff"}}) format('woff');
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{asset "built/app.css"}}" />

    <script src="{{asset "built/app.js"}}" defer></script>
    <script>
            const SEARCH_API = "{{@custom.api}}";
    </script>
    {{{block "scripts"}}}
    
    <title>{{meta_title}}</title>

    {{!-- Outputs important meta data and settings, should always be in <head> --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<main id="mel-main">

    {{> "navbar"}}

    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

</main>

{{> "footer"}}

{{> "modal"}}

{{!-- Outputs important scripts - should always be included before closing body tag --}}
{{ghost_foot}}
</body>
</html>