<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/ibm-plex-sans-v9-latin-300.woff2" crossorigin />
     <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/ibm-plex-sans-v9-latin-regular.woff2" crossorigin />
     <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/ibm-plex-sans-v9-latin-700.woff2" crossorigin />

    <link rel="stylesheet" type="text/css" href="{{asset "built/app.css"}}" />

    <script src="{{asset "built/app.js"}}" defer></script>
    <script>
            const SEARCH_API = "{{@custom.api}}";
    </script>
    {{{block "scripts"}}}
    
    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">

<main id="mel-main">

    {{> "navbar"}}

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

{{> "footer"}}

{{> "modal"}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>