{{!< default}}
<div class="container">
    <div class="container__inner">
        <div class="hero">
            <div class="hero__left">
                <h1 class="hero__title">{{@site.title}}</h1>
                <p class="hero__description">Everything is fine.</p>
                <p class="hero__description">
                    {{@site.description}}
                </p>
                <div class="input__container">
                    <input />
                    <a class="btn btn--outline" href="#">Sign Up</a>
                </div>
            </div>
            <div class="hero__right">
                <img class="hero__img" src="{{asset 'img/asset.png'}}" alt="{{@site.title}}">
            </div>
        </div>
    </div>
</div>

<header class="header">
    <h2>What's On Special</h2>
    <div class="header__line"></div>
</header>

<div class="container">
    <div class="container__inner">
        <div class="card__container">
            {{#foreach posts}}
                {{#if featured}}
                    {{> "card"}}    
                {{/if}}
            {{/foreach}}
        </div>
    </div>
</div>

<header class="header">
    <h2>What's Fresh</h2>
    <div class="header__line"></div>
</header>

<div class="container">
    <div class="container__inner">
        {{#foreach posts}}
            {{^if featured}}
                {{> "list"}}
            {{/if}}
        {{/foreach}}
        {{pagination}}
    </div>
</div>