{{!< default}}

<header class="mel-header">
    <h2>{{#is "tag"}}
            {{#tag}}{{name}}{{/tag}}
        {{/is}}
        {{#is "index"}}
            {{@site.title}}
        {{/is}}
        {{#is "author"}}
            {{#author}}{{name}}{{/author}}
        {{/is}}
        {{#is "paged"}}{{pagination.page}}{{/is}}
    </h2>
    <div class="mel-header__line"></div>
</header>

<div class="mel-container">
    <div class="mel-container__inner">
        {{#foreach posts}}
            {{^if featured}}
                {{> "list"}}
            {{/if}}
        {{/foreach}}
        {{pagination}}
    </div>
</div>