{{!< default}} 

{{#post}} 
<header class="container post__header">
    <div class="post__header-banner"></div>
    <div class="post__header-left">
        <h1 class="post__title">{{title}}</h1>
        {{#if excerpt}}<p class="post__excerpt">{{excerpt}}</p>{{/if}}
        
    </div>
    <div class="post__header-right">
        <img class="post__feature-image" srcset="
            {{img_url feature_image size="m" }} 500w, {{img_url feature_image size="l" }} 700w, {{img_url feature_image
            size="xl" }} 1000w" sizes="(max-width: 828px) 500px, 768px" src="{{img_url feature_image size=" m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">

           
    </div>
    {{^is "page"}}
    {{#primary_author}}
        <div class="post__author--container">
            <div class="post__author">
                <img class="post__author--image" src="{{profile_image}}" alt="{{name}}">
                <div class="post__author-right">

                    <a class="post__author--name" href="{{url}}">{{name}}</a>
                    <p class="post__date">{{date}} &bull; {{../reading_time}} min read</p>

                </div>
            </div>
            <div class="post__author--divider"></div>
        </div>
    {{/primary_author}}
    {{/is}}
</header>

<div class="container {{post_class}}">
       
        <div class="post__item">
            {{content}}
        </div>

        <aside class="share">
            <a href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" class="share__link">
               <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"/></svg>
            </a>
            <a href="https://twitter.com/share?url={{url absolute='true'}}&text={{encode excerpt}}&via=TheRoyalFig" class="share__link">
                <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/></svg>
            </a>
            <a href="https://www.linkedin.com/shareArticle?url={{url absolute='true'}}&title={{title}}" class="share__link">
                <svg viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/></svg>
            </a>
            <button class="share__link share-button" id="copy-button" data-url="{{url absolute='true'}}">
                <svg class="not-copied" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 4V2h10v2h3.007c.548 0 .993.445.993.993v16.014a.994.994 0 0 1-.993.993H3.993A.994.994 0 0 1 3 21.007V4.993C3 4.445 3.445 4 3.993 4H7zm0 2H5v14h14V6h-2v2H7V6zm2-2v2h6V4H9z"/></svg>
                <svg class="copied" fill="green" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 4v4h12V4h2.007c.548 0 .993.445.993.993v16.014a.994.994 0 0 1-.993.993H3.993A.994.994 0 0 1 3 21.007V4.993C3 4.445 3.445 4 3.993 4H6zm2-2h8v4H8V2z"/></svg>
            </button>
            <button class="share__link up-button">
                <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 12v8h-2v-8H4l8-8 8 8z"/></svg>
            </button>
        </aside>
        
    </div>
    {{/post}}

    {{!-- Related --}}
    {{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
    {{#if related}}

    <header class="header">
        <h2>What&apos;s Next</h2>
        <div class="header__line"></div>
    </header>

    <div class="container">
        <div class="container__inner">
            {{#foreach related}}
            {{> "list"}}
            {{/foreach}}
        </div>
    </div>
    {{/if}}
    {{/get}}

    {{> "cta"}}

    <script>
        {{!-- const headings = document.querySelectorAll(".post__title, .post h2, .post h3, .post h4, .post h5, .post h6");
        const toc = document.querySelector('.toc__content')

        headings.forEach(el => {
            const p = document.createElement('p')
            const a = document.createElement('a')
            a.setAttribute('class','toc__link')
            a.textContent = el.textContent;
            a.href = '#' + el.id;
            p.append(a)
            toc.append(p)
        }) --}}

        function copy(e) {
            const btn = e.currentTarget
            const input = document.createElement('input');
            input.value = btn.dataset.url;
            document.documentElement.append(input)
            input.select();
            document.execCommand('copy')

            input.remove()
            btn.classList.add('copied-success')
            const interval = setTimeout(() => btn.classList.remove('copied-success'),5000)
            console.log('copied')
        }

        const copyBtn = document.querySelector('#copy-button');

        copyBtn.addEventListener('click', copy)

            const upButton = document.querySelector('.up-button')
        document.addEventListener('scroll', e => {
            const scrollPos = window.scrollY;
            const scrollHeight = document.body.clientHeight;

            if (scrollPos / scrollHeight > .15) {
                upButton.classList.add('show-up-button')
            } else {
                upButton.classList.remove('show-up-button')
            }
        })

        upButton.addEventListener('click', () => {
            window.scrollTo(0,0) 
        })

        hljs.highlightAll();

(function(f){if(typeof exports==="object"&&typeof module!=="undefined"){module.exports=f()}else if(typeof define==="function"&&define.amd){define([],f)}else{var g;if(typeof window!=="undefined"){g=window}else if(typeof global!=="undefined"){g=global}else if(typeof self!=="undefined"){g=self}else{g=this}g.fitvids=f()}})(function(){var define,module,exports;return function e(t,n,r){function s(o,u){if(!n[o]){if(!t[o]){var a=typeof require=="function"&&require;if(!u&&a)return a(o,!0);if(i)return i(o,!0);var f=new Error("Cannot find module '"+o+"'");throw f.code="MODULE_NOT_FOUND",f}var l=n[o]={exports:{}};t[o][0].call(l.exports,function(e){var n=t[o][1][e];return s(n?n:e)},l,l.exports,e,t,n,r)}return n[o].exports}var i=typeof require=="function"&&require;for(var o=0;o<r.length;o++)s(r[o]);return s}({1:[function(require,module,exports){var selectors=['iframe[src*="player.vimeo.com"]','iframe[src*="youtube.com"]','iframe[src*="youtube-nocookie.com"]','iframe[src*="kickstarter.com"][src*="video.html"]',"object"];var css=".fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}";module.exports=function(parentSelector,opts){parentSelector=parentSelector||"body";opts=opts||{};if(isObject(parentSelector)){opts=parentSelector;parentSelector="body"}opts.ignore=opts.ignore||"";opts.players=opts.players||"";var containers=queryAll(parentSelector);if(!hasLength(containers))return;if(!document.getElementById("fit-vids-style")){var head=document.head||document.getElementsByTagName("head")[0];head.appendChild(styles())}var custom=toSelectorArray(opts.players);var ignored=toSelectorArray(opts.ignore);var ignoredSelector=ignored.length>0?ignored.join():null;var selector=selectors.concat(custom).join();if(!hasLength(selector)){return}containers.forEach(function(container){var videos=queryAll(container,selector);videos.forEach(function(video){if(ignoredSelector&&video.matches(ignoredSelector)){return}wrap(video)})})};function queryAll(el,selector){if(typeof el==="string"){selector=el;el=document}return Array.prototype.slice.call(el.querySelectorAll(selector))}function toSelectorArray(input){if(typeof input==="string"){return input.split(",").map(trim).filter(hasLength)}else if(isArray(input)){return flatten(input.map(toSelectorArray).filter(hasLength))}return input||[]}function wrap(el){if(/fluid-width-video-wrapper/.test(el.parentNode.className)){return}var widthAttr=parseInt(el.getAttribute("width"),10);var heightAttr=parseInt(el.getAttribute("height"),10);var width=!isNaN(widthAttr)?widthAttr:el.clientWidth;var height=!isNaN(heightAttr)?heightAttr:el.clientHeight;var aspect=height/width;el.removeAttribute("width");el.removeAttribute("height");var wrapper=document.createElement("div");el.parentNode.insertBefore(wrapper,el);wrapper.className="fluid-width-video-wrapper";wrapper.style.paddingTop=aspect*100+"%";wrapper.appendChild(el)}function styles(){var div=document.createElement("div");div.innerHTML='<p>x</p><style id="fit-vids-style">'+css+"</style>";return div.childNodes[1]}function hasLength(input){return input.length>0}function trim(str){return str.replace(/^\s+|\s+$/g,"")}function flatten(input){return[].concat.apply([],input)}function isObject(input){return Object.prototype.toString.call(input)==="[object Object]"}function isArray(input){return Object.prototype.toString.call(input)==="[object Array]"}},{}]},{},[1])(1)});

fitvids()

var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
})
    </script>