{{!< default}}

{{#post}}
    <header class="post__header">
        <div class="post__header-banner"></div>
        <div class="post__header-left">
            <h1 class="post__title">{{title}}</h1>
            {{#if excerpt}}<p class="post__excerpt">{{excerpt}}</p>{{/if}}
            {{^is "page"}}
                {{#primary_author}}
                    <div class="post__author">
                    <img class="post__author--image" src="{{profile_image}}" alt="{{name}}">
                    <div class="post__author-right">
                        
                        <a class="post__author--name" href="{{url}}">{{name}}</a>
                        <p class="post__date">{{date}} &bull; {{../reading_time}} min read</p>
                        
                    </div>
                    </div>
                {{/primary_author}}
            {{/is}}
        </div>
        <div class="post__header-right">
            <img class="post__feature-image"
            srcset="
            {{img_url feature_image size="m"}} 500w,
            {{img_url feature_image size="l"}} 700w,
            {{img_url feature_image size="xl"}} 1000w"
            sizes="(max-width: 1000px) 500px, 768px"
            src="{{img_url feature_image size="m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
        </div>
    </header>
    <div class="post__grid {{post_class}}">
        {{content}}
        
    </div>
{{/post}}

{{!-- Related --}}
        {{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
            {{#if related}}

<header class="header">
    <h2>What&apos;s Next</h2>
    <div class="header__line"></div>
</header>

<div class="container">
    <div class="container__inner">
                {{#foreach related}}
                    {{> "list"}}
                {{/foreach}}
    </div>
</div>
            {{/if}}
        {{/get}}

    